<% include ../partials/header %> <% include ../partials/messages %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">GearHub</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-9">
                <img class="card-img-top" src="<%=item.image%>" />
                <h1 class="card-title pl-1"><%=item.name%></h1>
                <p class="card-text pl-1"><%=item.review%></p>
                <p class="card-text pl-1 pb-3">
                    <small class="text-muted"
                        >Review written by <%= item.author.username %></small
                    >
                </p>
                <% if(isAuthenticated && user.name === item.author.username) {
                %>
                <div class="d-flex justify-content-start">
                    <a
                        class="btn btn-xs btn-warning"
                        href="/items/<%= item._id %>/edit"
                        >Edit</a
                    >
                    <form
                        class="form-btn"
                        action="/items/<%= item._id %>?_method=DELETE"
                        method="POST"
                    >
                        <a class="btn btn-xs btn-danger ml-1">
                            Delete
                        </a>
                    </form>
                </div>
                <% } %>
            </div>
            <div class="card mb-9 mt-3">
                <div class="card-header">
                    <h4>
                        Comments
                        <a
                            class="btn btn-success float-right"
                            href="/items/<%= item._id %>/comments/new"
                            >Add New Comment</a
                        >
                    </h4>
                </div>
                <div class="card-body">
                    <% item.comments.forEach((comment) => {%>
                    <div>
                        <h5 class="card-title">
                            <%= comment.author.username %>
                            <p class="card-text float-right">
                                <small class="text-muted"
                                    ><%=comment.date.toLocaleString()%></small
                                >
                            </p>
                        </h5>
                        <p class="card-text"><%= comment.text %></p>
                        <% if (isAuthenticated && user.name ===
                        comment.author.username) { %>
                        <div class="d-flex justify-content-end">
                            <a
                                class="btn btn-xs btn-warning"
                                href="/items/<%=item._id%>/comments/<%=comment._id%>/edit"
                                >Edit</a
                            >
                            <form
                                class="form-btn"
                                action="/items/<%=item._id%>/comments/<%=comment._id%>?_method=DELETE"
                                method="POST"
                            >
                                <input
                                    type="submit"
                                    class="btn btn-xs btn-danger ml-1"
                                    value="Delete"
                                />
                            </form>
                        </div>
                        <% } %>
                        <hr />
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
